/convert/nbproject/private/
/convert/build/
/convert/dist/
/wiki-export/nbproject/private/
/wiki-export/dist/
/wiki-export/build/
/target/**
/wiki-convert/target/
*.swp
*.swo
/html-convert/target/**
/html-convert/tutorials-asciidoc/**
/html-convert/external-links.txt
/tutorials-convert/tutorials-asciidoc/**
/tutorials-convert/target**
/tutorials-convert/external-links.txt
/translations/*/release/
/translations/*/build/
/translations/*/dist/
/translations/*/nbproject/private/
/translations/*/nbproject/genfiles.properties
/pp3/module/Application/external/osgi-jar-parser/target
/jsstub-generator/out/
/jsstub-generator/node_modules/
/jsstub-generator/nbproject/
/jsstub-generator/out.old/
